<!doctype html>
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'stocks:index' %}">Stock Market</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">    

    {% if user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class='nav-link' href='{% url "stocks:portfolio" %}'>My portfolio<span class="sr-only">(current)</span></a>
      </li>
    <form action='{% url "stocks:logout" %}' method='post'>
      {% csrf_token %}
      <input class='btn btn-danger' type='submit' value='Logout'>
    </form>
    {% else %}
    <div class='container'>
  <div class='row mr-auto'>
    <div class='col-sm'>
      <form action='{% url "stocks:user" %}' method='post'>
      {% csrf_token %}
      <input class='form-control' required placeholder='username' type='text' name='username'>
      <input class='form-control' required placeholder='password' type='password' name='password'>
      <input class='btn btn-primary' type='submit' value='Create an account'>
      </form>
    </div>

    <div class='col-sm'>
      <form action='{% url "stocks:login" %}' method='post'>
	{% csrf_token %}
	<div class='col-sm'>
	  <input class='form-control' required placeholder='username' type='text' name='username'>
	  <input class='form-control' required placeholder='password' type='password' name='password'>
	  <input class='btn btn-secondary' type='submit' value='Login'>
	</div>
      </form>
    </div>
  </div>
    </div>
    {% endif %}
  </div>
</nav>

<div class='container'>
{% if user.is_authenticated %}
<div class="alert alert-success" role="alert">
  <h5>Welcome, {{ user }}</h5>
</div>
{% endif %}

{% if request.path == '/stocks/portfolio/' %}
<h5>Portfolio</h5>
{% else %}
<form action='{% url "stocks:add" %}' method="post">
  {% csrf_token %}
  <div class='input-group'>
  <input class='form-control' required placeholder="Search company ticker" type="text" name="ticker">
  <input class='btn btn-info' type="submit" value="Search">
  </div>
</form>
{% endif %}

{% if messages %}
{% for message in messages %}
<div role='alert' class='alert alert-primary'>{{ message }}</div>
{% endfor %}
{% endif %}

{% if stock_list %}
<table class="table table-primary">
<thead>
  <tr>
    <th scope="col">Symbol</th>
    <th scope="col">Company</th>
    <th scope="col">Sector</th>
    <th scope="col">Industry</th>
    <th scope="col">Country</th>
    <th scope="col">Currency</th>
  </tr>
</thead>
{% for stock in stock_list %}
<tr class="table-light">
  <td class="table-primary">
    <a href='{% url 'stocks:detail' stock.id %}'>
      {{ stock }}
    </a>
  </td>
  <td class="table-primary">
    {{ stock.longName }}
  </td>
  <td class="table-primary">
    {{ stock.sector }}
  </td>
  <td class="table-primary">
    {{ stock.industry }}
  </td>
  <td class="table-primary">
    {{ stock.country }}
  </td>
  <td class="table-primary">
    {{ stock.currency }}
  </td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if is_paginated %}
<div class='mb-5'>
{% for page in paginator.page_range  %}
<a class='btn btn-outline-primary' href="?page={{ page }}">{{ page }}</a>
{% endfor %}
</div>
{% endif %}

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
