<!doctype html>
{% load static %}
{% load humanize %}
{{ my_num|intcomma }}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'stocks:index' %}">Stock Market</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">    

    {% if user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class='nav-link' href='{% url "stocks:portfolio" %}'>My portfolio<span class="sr-only">(current)</span></a>
      </li>
    <form action='{% url "stocks:logout" %}' method='post'>
      {% csrf_token %}
      <input class='btn btn-danger' type='submit' value='Logout'>
    </form>
    {% else %}
    <div class='container'>
  <div class='row mr-auto'>
    <div class='col-sm'>
      <form action='{% url "stocks:user" %}' method='post'>
      {% csrf_token %}
      <input class='form-control' required placeholder='username' type='text' name='username'>
      <input class='form-control' required placeholder='password' type='password' name='password'>
      <input class='btn btn-primary' type='submit' value='Create an account'>
      </form>
    </div>

    <div class='col-sm'>
      <form action='{% url "stocks:login" %}' method='post'>
	{% csrf_token %}
	<div class='col-sm'>
	  <input class='form-control' required placeholder='username' type='text' name='username'>
	  <input class='form-control' required placeholder='password' type='password' name='password'>
	  <input class='btn btn-secondary' type='submit' value='Login'>
	</div>
      </form>
    </div>
  </div>
    </div>
    {% endif %}
  </div>
</nav>


<div class='container'> 


{% if userhas == False %}
<form action='{% url "stocks:add_portfolio" %}' method='post'>
  {% csrf_token %}
  <input hidden type='text' value='{{ stock }}' name='stock'>
  <input hidden type='text' value='{{ stock.id }}' name='id'>
  <input class='btn btn-success' type='submit' value='Add to portfolio'>
</form>
{% elif userhas == True %}
<form action='{% url "stocks:remove_portfolio" %}' method='post'>
  {% csrf_token %}
  <input hidden type='text' value='{{ stock }}' name='stock'>
  <input hidden type='text' value='{{ stock.id }}' name='id'>
  <input class='btn btn-warning' type='submit' value='Remove from portfolio'>
</form>
{% endif %}

{% if messages %}
{% for message in messages %}
<div class='alert alert-info'>{{ message }}</div>
{% endfor %}
{% endif %}

<div class='d-flex p-2 bd-highlight'>
  <div>
    <table class='table table-striped'>
      <tbody>
	<tr>
	  <td>Name</td>
	  <td>{{stock.longName}}</td>
	</tr>
	<tr>
	  <td>Symbol</td>
	  <td>{{stock}}</td>
	</tr>
      </tbody>
    </table>
  </div>
</div>
<div class='d-flex p-2 bd-highlight'>
  <div>
    <table class="table table-striped">
      <tbody>
	<tr>	
	  <td>Bid</td>
	  <td>{{ info.bid|intcomma }}</td>
	<tr>
	  <td>Ask</td>
	  <td> {{ info.ask|intcomma }}</td>
	</tr>
	<tr>
	  <td>Previous close </td>
	  <td>{{ info.previousClose|intcomma }}</td>
	</tr>
	<tr>
	  <td>Open</td>
	  <td>{{ info.open|intcomma }}</td>
	</tr>
      </tbody>
    </table>
  </div>
  <div>
    <table class="table table-striped">
      <tbody>
	<tr>	
	  <td>Day's range</td>
	  <td>{{ info.dayLow|intcomma }} - {{ info.dayHigh|intcomma }}</td>
	<tr>
	  <td>Market cap</td>
	  <td>{{ info.marketCap|intcomma }}</td>
	</tr>
	<tr>
	  <td>Volume</td>
	  <td>{{ info.volume|intcomma }}</td>
	</tr>
	<tr>
	  <td>Close</td>
	  <td id='close'></td>
	</tr>
      </tbody>
    </table>
  </div>
</div>

<p hidden id='dates'>{{ prices.Open.keys }}</p>

<canvas id='chart' width='200' height='100'></canvas>

</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js'>
  </script>
<script>
  var p = {{prices}}.map(x=>x[0].toFixed(2))
  var d = {{dates}}.map(x=>new Date(x).toDateString())
  
  close = document.getElementById('close')
  close.innerText = p.slice(-1) + ' on ' + d.slice(-1)


  var ctx = document.getElementById('chart');
  var myChart = new Chart(ctx, {
    type: 'line',
    options: {
	elements: {
	    point: {
		radius: 3
	    }
	},
	tooltips: {
	    intersect: false
	}
    },
    data: {
        labels: d,
        datasets: [{
            label: 'Close Price in'+' {{stock.currency}}',
          data: p,            
            borderWidth: 1
        }]
    }
});  
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
