<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class='container p-4'>

<h3 class='display-6 text-center'>Moses Jung</h3>
<h3 class='display-6 text-center'>Web developer</h3>

<h3 class='display-6 list-group'>Tech</h5>
<li class="list-group-item">Python</li>
<li class="list-group-item">Django</li>
<li class="list-group-item">HTML, CSS, Javascript</li>
<li class="list-group-item">Bootstrap</li>

<h3 class='display-6'>Projects</h5>
{% if project_list %}
{% for p in project_list %}
<div class="card">
<div class="card-body">
  <h5 class="card-title">{{ p.title }}</h5>
  <h6 class="card-subtitle mb-2 text-muted">{{ p.technologies }}</h6>
  <p class="card-text">{{ p.description }}</p>
    <a href="{{ p.url }}" class="card-link">App link</a>
  </div> 
</div>
{% endfor %}
{% endif %}
</div>
