<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

<div class="container pt-3">
<h3>Chat: {{ room.room_name }}</h3>

<div class="container pt-3 h-50 overflow-auto" id='chat-log'>
  <div style='display:none' id="msg" class="flex-row pt-2">
    <div id='username' class="col fw-bold">{{ message.username }}
      <span class='fw-lighter text-muted'>
	<small id='date'>{{message.pub_date}}</small>
      </span>
    </div>
    <div id='message' class="col">
    {{ message.message_text }}
    </div>  
  </div>
  {% for message in room.message_set.all %}
  <div id="msg" class="flex-row pt-2">
    <div id='username' class="col fw-bold">{{ message.username }}
      <span class='fw-lighter text-muted'>
	<small id='date'>{{message.pub_date}}</small>
      </span>
    </div>
    <div id='message' class="col">
    {{ message.message_text }}
    </div>  
  </div>
  {% endfor %}
  <div id='chat-bot'></div>
</div>
<!--
<form action="{% url 'chat:message' room.id %}" method="post">
  {% csrf_token %}
  <input type="text" name="username" value="">
  <label for="username">Name</label><br>
  <input type="text" name="message" value="">
  <label for="message">Your message</label><br>
  <input type="submit" value="Message">
</form>
-->
{{ room.id|json_script:'room-name' }}
<div class="container">  
  <div class="row pt-3">
    <div class="col-sm">
      <input placeholder="User" id="username-input" type="text" name="user" size="20" class="form-control">
    </div>
  <div class="col-sm">
    <input placeholder="Message" id="chat-message-input" type="text" name="message" class="form-control" required>    
  </div>
  <div class="col-sm">
    <input id="chat-message-submit" type="button" value="Send" class="btn btn-primary">
    <a href="{% url 'chat:index'  %}" class="btn btn-danger">Leave</a>
  </div>
</div>

  <script>
    function scroll() {
	//let view = document.getElementById('chat-bot')
	//view.scrollIntoView(true);
	document.getElementById("chat-log").scrollTop += document.getElementById('chat-log').scrollHeight;

	//console.log(view)
    }
    scroll()

    //setInterval(function(){ scroll(); }, 1000);
    
  const roomName = JSON.parse(document.getElementById('room-name').textContent);

  const chatSocket = new WebSocket(
      'wss://'
	  + window.location.host
	  + '/ws/chat/'
	  + roomName
	  + '/'
  );

  chatSocket.onmessage = function(e) {
      const data = JSON.parse(e.data)
      const original = document.getElementById('msg')
      let m = original.cloneNode(true)
      m.querySelector('#username').firstChild.nodeValue = data.username
      m.querySelector('#date').textContent = new Date(data.date).toLocaleTimeString().toLowerCase().replace('am','a.m.').replace('pm','p.m.')
      setTimeout(function(){ scroll(); }, 100);
     

      

      m.querySelector('#message').textContent = data.message
      m.style.display = 'block';
      console.log(data.username)
      console.log(m.querySelector('#username'))
      document.querySelector('#chat-log').insertBefore(m, document.getElementById('chat-bot'));
  }
  chatSocket.onclose = function(e) {
      console.error('chat socket closed unexpectedly')
  }

  document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
	 document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
	    if (messageInputDom.value == '') {
		return;
	    }
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
		'username': document.querySelector('#username-input').value
            }));
            messageInputDom.value = '';
        };

</script>
