<!doctype html>
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{% static 'chat/style.css' %}">

<div class="container pt-4">
  <h3>Chat rooms</h3>
  <div>
<form action="{% url 'chat:room' %}" method="post">
  {% csrf_token %}
  <label for="room" class="form-label">Create a room</label>
  <input required type="text" name="room">
  <input type="submit" class="btn btn-primary" value='Submit'>
</form>
</div>

{% if chat_room_list %}
<div class="container pt-2">
  {% for room in chat_room_list %}
  <div class="flex-row pt-2">
    <div class="flex-column align-items-center">
    <a href="{% url 'chat:detail' room.id %}">{{ room.room_name }}</a>
    </div>
    <div class="flex-column col">
      <p>{{ room.pub_date }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>No chat rooms.</p>
{% endif %}

</div>
